.link__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    
    
}

.link__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.link__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.link__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: auto;
    object-fit: cover;

}

/* .content__link {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */
.link__item h3 {
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
   
}

.link__item-cta {
    display: flex;
    /* gap: 1rem; */
    margin-bottom: 2em;
    justify-content: center;
}


/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
   .link__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
   }
}
   
/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
   
@media screen and (max-width: 600px) {
  .link__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}